<h2>Projects</h2>

<div class="row">
  {{#each projects}}
    <div class="col-md-6">
      <div class="well">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <span class="badge alert-{{currentBuildStatusCssClass}}">Current Build: {{currentBuildStatus}}</span>
        <span class="badge alert-{{currentPullRequestCssClass}}">Open Pull Requests: {{openPullRequest}}</span>
        <p></p>
      </div>
    </div>
   {{/each}}
</div>
